/nbproject/
/pub/js/vendor/
/vendor/symfony/console/Tests/
/vendor/symfony/process/Tests
/vendor/pimple/pimple/ext/
/vendor/pimple/pimple/src/Pimple/Tests/
/data
/build
/vendor
/composer.lock
/src/Tests/clover.xml
*.exe

# Composer
vendor/
vendor-bin/**/vendor
vendor-bin/**/composer.lock
.php_cs.cache
